@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.App-header{
  border: 1px solid #ccc;
  border-radius: 10px;
}
.App {
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.paragraph {
  font-size: 1em;
  line-height: 1.5;
}

.box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2em;
  margin: 5em auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tugas8-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2em;
  margin: 5em auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
} */
.card-container {
  max-width: 20rem;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-container:hover {
  transform: scale(1.05);
  background-color: #f1f5f9;
}

.card-container img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}